#ngapp {
  height: 100%;
}

#ngapp .splitview-toggle {
  float: left;
}

#ngapp .splitview-pane-header,
#ngapp .splitview-pane-commands {
  white-space: nowrap;
}

#ngapp .splitview-title {
  display: inline-block;
  margin-top: 12px;
  margin-left: 12px;
}

#ngapp .splitview-pane-commands {
  margin-top: 20px;
}

#ngapp .win-splitview-pane-closed .win-splitviewcommand-label {
  /*  Make sure pane content doesn't scroll if 
  SplitViewCommand label receives focus while pane is closed.
  */
  visibility: hidden;
}

#ngapp .splitview-content {
  box-sizing: border-box;
  padding: 6px 20px;
  height: 100%;
}